@font-face {
  font-family: "getschwifty";
  src: url("./assets/fonts/getschwifty.woff2"),
    url("./assets/fonts/getschwifty.woff");
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --primary-color: #eee;
  --header-color: #202329;
  --header-bg-color: #eee;
  --bg-color: rgb(32, 37, 73);
  --card-bg-color: rgb(23, 132, 146);
  --btn-hover-color: linear-gradient(45deg, #19c59a, rgb(53, 85, 182));
  --font-family: "getschwifty";
}

html {
  font-size: 16px;
  font-family: var(--font-family);
  background: var(--bg-color);
  color: var(--primary-color);
}

body {
  margin: 0;
}
.main {
  padding: 30px 20px;
  text-align: center;
}
